// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {

	--font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  --primary-color: #3f72af;
  --header-bg: #3f72af;

  --home-link-color: #A1613F;
  --home-link-hover-color:  var(--primary-color);

  --post-link-color: #0F070B;

  --text-color-meta: rgba(0,0,0,0.5);

  --input-focus-border: #83AAAC;

  --light-grey: #f9f7f7;
  --dark-blue: #112d4e;
  --deep-blue: #120078;

  --persian-red: #cc3333;
  --persian-green: #00a693;
  --deep-peach: #ffcba4;
  --burgundy-red: #902f3c;
  --silver-slate: #474747;

  // CSS Grid Utility
  --grid-gap: 30px;

}
